:root {
  --color-accent-two: #ffffff;
  --color-logo: #000000;
  --color-accent: #2196f3;
  --color-titel-nav: #212121;
  --color-main: #757575;
  --color-contactsfooter: rgba(255, 255, 255, 0.6);
  --background-color-hero: #2f303a;
  --background-color-sectionteam: #f5f4fa;
  --button-active: #188ce8;
  --color-accent-three: #ececec;
  --color-icon-social: #afb1b8;
  --color-icon-footer: rgba(255, 255, 255, 0.1);
  --color-out-work: rgba(47, 48, 58, 0.8);
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: var(--color-main);
  background-color: var(--color-accent-two);
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  color: var(--color-logo);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.button-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--color-accent);
  color: var(--color-accent-two);
  border: none;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-main:hover, .button-main:focus {
  color: var(--color-accent-two);
  background-color: var(--button-active);
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--color-titel-nav);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.66;
  }
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  fill: var(--color-icon-social);
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--color-accent);
}

.social-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--color-accent-two);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 35, 35, 0.5);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;
}
@media screen and (min-width: 1200px) {
  .backdrop {
    overflow: visible;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}

.modal {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  cursor: pointer;
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(-50%) scale(1);
  width: 320px;
  background-color: var(--color-accent-two);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    top: 50%;
    transform: translateX(-50, -50%);
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-accent-two);
  cursor: pointer;
  outline: none;
}

.modal-btn__icon {
  display: block;
  fill: var(--color-logo);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:focus .modal-btn__icon, .modal-btn:hover .modal-btn__icon {
  fill: var(--color-accent);
}

.modal-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal_subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5555555556;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-titel-nav);
  margin-top: 0;
  margin-bottom: 12px;
}
@media screen and (min-width: 480px) {
  .modal_subtitle {
    font-size: 20px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .modal_subtitle {
    font-size: 20px;
    line-height: 1.15;
  }
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.modal-imput {
  width: 100%;
  height: 40px;
  padding: 11px 42px;
  border: 1px solid #2196f3;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-imput:focus, .modal-imput:active {
  outline: none;
  border-color: var(--color-accent);
}

.modal__wrapper {
  margin-top: 4px;
  position: relative;
  margin-bottom: 10px;
  display: block;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-imput:focus + .modal__icon {
  fill: var(--color-accent);
}

.form-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment:focus, .form-comment:active {
  outline: none;
  border-color: var(--color-accent);
}

.comment {
  margin-bottom: 20px;
}

.checkbox-label {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox-label {
    font-size: 14px;
    line-height: 1.7;
  }
}

.checkbo-wrapper {
  width: 16px;
  position: relative;
  margin-right: 8px;
}

.checkbox-imput__icon {
  position: absolute;
  top: 50%;
  left: -12px;
  opacity: 1;
  transform: translateY(-50%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .checkbox-imput__icon {
    left: 0%;
  }
}

.checkbox-imput__icon-check {
  position: absolute;
  top: 50%;
  left: -12px;
  opacity: 1;
  transform: translateY(-50%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .checkbox-imput__icon-check {
    left: 0%;
  }
}
.checkbox-imput:checked + .checkbo-wrapper .checkbox-imput__icon-check {
  opacity: 1;
}
.checkbox-imput:checked + .checkbo-wrapper .checkbox-imput__icon-check {
  opacity: 0;
}

.checkbox-imput__link {
  display: inline-block;
  color: var(--color-accent);
  text-decoration: underline;
}

.menu-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__icon {
  fill: var(--color-logo);
}
.menu-btn:hover .menu-btn__icon, .menu-btn:focus .menu-btn__icon {
  fill: var(--color-accent);
}

.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: var(--color-accent-two);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__nav {
  margin-bottom: auto;
}

.mobile-menu__menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--color-titel-nav);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--color-accent);
}

.link.mobile-menu__link--active {
  color: var(--color-accent);
}

.mobile-menu__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.mobile-menu__tel-link {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.1538461538;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}
@media screen and (min-width: 480px) {
  .mobile-menu__tel-link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
    color: var(--color-accent);
  }
}

.mobile-menu__mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--color-main);
}

.mobile-nenu__social-list {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.mobile-nenu__social-link {
  position: relative;
  padding-right: 11px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}
.mobile-nenu__social-item:not(:last-child) .mobile-nenu__social-link::after {
  position: absolute;
  top: 50%;
  right: -11px;
  content: "";
  width: 22px;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
@media screen and (min-width: 480px) {
  .mobile-nenu__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222222222;
    letter-spacing: 0.02em;
    color: var(--color-accent);
  }
}

.header {
  border-bottom: 1px solid var(--color-accent-three);
}

.header__container {
  display: flex;
  align-items: center;
  border-bottom: 1px var(--color-accent-three);
}

.site-nav {
  display: flex;
}

.site-nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav__list {
    display: flex;
    gap: 50px;
  }
}

.logo--color-text {
  color: var(--color-accent);
}

.site-nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--color-titel-nav);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus, .site-nav__link:active {
  color: var(--color-accent);
}

.link.site-nav__link--active {
  color: var(--color-accent);
}

.site-nav__link.site-nav__link--active::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-accent);
}

.site-nav__link::after {
  content: "";
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover::after,
.site-nav__link:focus::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-accent);
}

.header__contacts-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contacts-list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: flex-start;
    padding-top: 21px;
    padding-bottom: 21px;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts-list {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts-link {
    display: flex;
    padding: 0;
    align-items: center;
    color: var(--color-main);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .header__contacts-link:hover, .header__contacts-link:focus {
    color: var(--color-accent);
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts-link {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts-item {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts-icon {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }
}

.header__menu-btn {
  margin-left: auto;
}

.section-hero {
  max-width: 1600px;
  height: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color-hero);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero480@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero480@2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero768@1x.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero768@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero1600@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero1600@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.section-hero__main-title {
  max-width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  color: var(--color-accent-two);
  font-weight: 900;
  font-size: 20px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .section-hero__main-title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.6153846154;
  }
}
@media screen and (min-width: 1200px) {
  .section-hero__main-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.benefits-list__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits-list__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.benefits-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--color-titel-nav);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-list__subtitle {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.benefits-list__wrapper {
  padding: 25px 110px;
  background-color: var(--background-color-sectionteam);
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .benefits-list__wrapper {
    padding: 25px 190px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-list__wrapper {
    padding: 25px 142px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    padding: 0;
  }
}

.section-we-do {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section-we-do {
    display: contents;
    padding-top: 0;
    padding-bottom: 94px;
  }
}
.section-we-do .section-we-do__list {
  display: flex;
  gap: 30px;
}
.section-we-do .section-we-do__item {
  width: 370px;
  position: relative;
}
.section-we-do .section-we-do__wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  right: 0;
  background-color: var(--color-out-work);
}
.section-we-do .section-we-do__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-accent-two);
  margin: 0;
}

.section-team {
  background-color: var(--background-color-sectionteam);
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.team-list__item {
  width: calc(100% - 0px)/1;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--color-accent-two);
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc(100% - 30px)/2;
  }
}

.team-list__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__titlee {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--color-titel-nav);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list__subtitle {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
    flex-wrap: nowrap;
  }
}

.clients-list__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 480px) {
  .clients-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  border: 1px solid var(--color-icon-social);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--color-accent);
}

.clients-list__icon {
  fill: var(--color-icon-social);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: var(--color-accent);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.button-fiter {
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  background-color: var(--background-color-sectionteam);
  color: var(--color-titel-nav);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-fiter:hover, .button-fiter:focus {
  color: var(--color-accent-two);
  background-color: var(--color-accent);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  margin-bottom: 30px;
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio__wrapper-description {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border-bottom: 1px solid var(--color-accent-three);
  border-left: 1px solid var(--color-accent-three);
  border-right: 1px solid var(--color-accent-three);
}

.portfolio__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--color-titel-nav);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__subtitle {
  margin: 0;
  color: var(--color-main);
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.portfolio__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.portfolio__wrapper-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio__wrapper-overlay, .portfolio__link:focus .portfolio__wrapper-overlay {
  transform: translateY(0);
}

.portfolio__wrapper-card {
  position: relative;
  overflow: hidden;
}

.portfolio__subtitle-overlay {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--color-accent-two);
  margin: 0;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    text-align: inherit;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-hero);
}

.footer__logo {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer__logo--color-text {
  color: var(--color-accent-two);
}

.fotter_wrapper_address {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .fotter_wrapper_address {
    margin-bottom: 0px;
  }
}

.address__list-linkstreet {
  margin-bottom: 9px;
  color: var(--color-accent-two);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__list-linkstreet:hover, .address__list-linkstreet:focus {
  color: var(--color-accent);
}

.address__list-linkmail {
  margin-bottom: 9px;
}

.address__list-linkmail,
.address__list-linktel {
  color: var(--color-contactsfooter);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__list-linkmail:hover, .address__list-linkmail:focus,
.address__list-linktel:hover,
.address__list-linktel:focus {
  color: var(--color-accent);
}

.fotter__wrapper-social {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .fotter__wrapper-social {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .fotter__wrapper-social {
    margin-bottom: 0;
  }
}

.social-list__link--theme-dark {
  background-color: var(--color-icon-footer);
  fill: var(--color-accent-two);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fotter__wrapper-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .fotter__wrapper-form {
    width: auto;
  }
}

.fotter__subtitle-actions {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-accent-two);
  margin-top: 0;
  margin-bottom: 20px;
}

.form-subscription {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .form-subscription {
    align-items: center;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscription {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}

.form-subscription__input {
  width: 100%;
  margin-bottom: 20px;
  font-weight: 400;
  padding: 15px 16px;
  background-color: var(--background-color-hero);
  color: var(--color-accent-two);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .form-subscription__input {
    width: 450px;
    height: 50px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscription__input {
    width: auto;
    width: 358px;
    height: 50px;
    margin-bottom: 0px;
  }
}
.form-subscription__input :focus {
  border-color: var(--color-accent);
}

.button-main__icon {
  fill: var(--color-accent-two);
}/*# sourceMappingURL=main.css.map */