
  .benefits-list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
  }

  .benefits-list__item {
    flex-basis: calc((100% - 30px * 0) / 1);

    @include tablet {
      flex-basis: calc((100% - 30px * 2) / 2);
    }

    @include desktop {
      flex-basis: calc((100% - 30px * 3) / 4);
    }

  }

  .benefits-list__title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--color-titel-nav);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    @include tablet {
      text-align: left;
    }
  }
  
  .benefits-list__subtitle {
    margin: 0;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
  
  .benefits-list__wrapper {
    @include flex-center;
    padding: 25px 0;
    
    background-color: var(--background-color-sectionteam);
    margin-bottom: 30px;
   
    
    
    

    // @include desktop {
    // width: 270px;
    // height: 120px;
    // padding: 0;
    // }
  }
