
.clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @include desktop {
      display: flex;
      flex-wrap: nowrap;
    }

  }

  .clients-list__item {
    flex-basis: calc((100% - 30px * 1) / 2);

    @include mobile {
          flex-basis: calc((100% - 30px * 1) / 2);
  }
   @include tablet {
      flex-basis: calc((100% - 30px * 2) / 3);
}

  @include desktop {
    flex-basis: calc((100% - 30px * 5) / 6);
}
  }

  .clients-list__link {
      @include flex-center;
      padding: 16px 0;
  
    border: 1px solid var(--color-icon-social);
    border-radius: 4px;
    outline: none;
  
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid var(--color-accent);
    }
  }
  
  .clients-list__icon {
    fill: var(--color-icon-social);
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .clients-list__link:hover &,
    .clients-list__link:focus & {
      fill: var(--color-accent);
    }
  }