:root {
    --color-accent-two: #ffffff;
    --color-logo: #000000;
    --color-accent: #2196f3;
    --color-titel-nav: #212121;
    --color-main: #757575;
    --color-contactsfooter: rgba(255, 255, 255, 0.6);
    --background-color-hero: #2f303a;
    --background-color-sectionteam: #f5f4fa;
    --button-active: #188ce8;
    --color-accent-three: #ececec;
    --color-icon-social: #afb1b8;
    --color-icon-footer: rgba(255, 255, 255, 0.1);
    --color-out-work: rgba(47, 48, 58, 0.8);
  }